@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.np { font-family: 'Nanum Pen Script', cursive; }
.jg { font-family: 'Jeju Gothic', sans-serif; }
.jm { font-family: 'Jeju Myeongjo', serif; }
.kb { font-family: 'KoPub Batang', serif; }
.nb { font-family: 'Nanum Brush Script', cursive; }
.ns { font-family: 'Noto Sans KR', sans-serif; }
.hn { font-family: 'Hanna', sans-serif; }
.ng { font-family: 'Nanum Gothic', sans-serif; }
.nm { font-family: 'Nanum Myeongjo', serif; }
.jh { font-family: 'Jeju Hallasan', cursive; }
.ngc { font-family: 'Nanum Gothic Coding', monospace; }

.page-header {
    background-color: #428BCA;
    /* background-color: #ff9400; */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Nanum Pen Script', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}